<!-- <nav class="navbar bg-dark">
  <div id="nav-principal" class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/img/APLogo-20-20.png"
        alt="Logo Aregentina Programa"
        width="120"
      />
    </a>
    
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <button>
            <div></div>
            <div></div>
            <div></div>
          </button>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Portfolio</a>
              <a class="nav-link" href="#">Acerca de mi</a>
              <a class="nav-link" href="#">Servicios</a>
              <a class="nav-link" href="#">Contacto</a>
              
            </div>
          </div>
      </div>
      
    
  </div>
  
</nav> -->

<nav class="navbar navbar-expand-lg">
    <div id="nav-principal" class="container-fluid">
      <a class="navbar-brand" href="#"><img id="logo-argentina-programa"
        src="../../../assets/img/APLogo-20-20.png"
        alt="Logo Aregentina Programa"
        width="120"
      /></a>
      <button id="contenedor-boton-menu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <button id="boton-menu">
            <div></div>
            <div></div>
            <div></div>
          </button>
      </button>
      <div id="opciones-nav-principal" class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a routerLink="/portfolio" class="nav-link active" aria-current="page">Home</a>
            <a class="nav-link" href="#">Trabajos</a>
            <a routerLink="/acerca-de-mi">Sobre mi</a>
            <a class="nav-link" href="#">Servicios</a>
            <a class="nav-link" href="#">Contacto</a>
        </div>
      </div>
    </div>
  </nav>
