nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
}

#nav-principal {
    display: flex;
    flex-direction: row;
    padding: 0 1rem 0 1rem;
    justify-content: space-between !important;
    
}

#logo-argentina-programa {
    background-color: aqua;
    
}

#button-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: 0.65rem;
    background-color: #000;   
}

button > div {
    background: #fff;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}

button:hover div:first-child {
    transform: rotate(45deg);
}

button:hover div:nth-child(2) {
    opacity: 0;
}

button:hover div:last-child {
    transform: rotate(-45deg);
}

#boton-menu {
    padding-right: 1rem;
}

#navbarNavAltMarkup {
    padding: 0 1rem 0 1rem;
    justify-content: flex-end;
}

#navbarNavAltMarkup a {
    color: #000;
}


