<app-navbar></app-navbar>
<section id="acerca-de" class="container">
  <h2>Freelance Diseñador Web Full Stack Jr.</h2>
  <figure>
    <img
      id="foto-image"
      src="../../../assets/img/foto.jpg"
      alt="foto Diego Aravena"
      width="300"
    />
  </figure>
  <h2>Diego Aravena - Diseñador Web Front End</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque
    mollitia quaerat earum maiores culpa cum repellat eius. Sapiente doloremque
    aliquid blanditiis, aperiam reprehenderit recusandae, esse dicta hic
    corporis laboriosam unde ex nemo quod. Eum commodi nesciunt expedita quia
    ipsam, nemo eos minus quas inventore maiores vero ut repellat, sapiente aut.
    Iusto soluta laboriosam corporis delectus autem nostrum! Iusto, corrupti
    porro enim natus alias ullam, velit quia veniam quod aperiam perspiciatis
    quidem nostrum distinctio, maiores facilis necessitatibus cumque dicta
    cupiditate doloribus soluta consectetur reiciendis illo nihil! Corrupti,
    dolor laborum sint tempora voluptatem facere vitae. Nisi adipisci amet
    pariatur tempora similique obcaecati. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. 
  </p>
  
</section>
<section id="experiencia" class="container">
  <h2>Experiencia</h2>
  <div class="card">
    <img
      src="../../../assets/img/Consejo-de-Defensa-del-Estado-740x430.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Consejo de Defensa del Estado</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the
        bulk of the card's content.
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div class="card">
    <img      
      src="../../../assets/img/Consejo-de-Defensa-del-Estado-740x430.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Consejo de Defensa del Estado</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the
        bulk of the card's content.
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</section>
<section id="estudios" class="container">
  <h2>Estudios</h2>
  <div class="card">
    <img
      src="../../../assets/img/Consejo-de-Defensa-del-Estado-740x430.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Consejo de Defensa del Estado</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the
        bulk of the card's content.
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</section>
<app-footer></app-footer>
